################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChamgeLogSystem/.vs/ChamgeLogSystem
/ChamgeLogSystem/obj
/ChamgeLogSystem/bin/Debug/netcoreapp3.1
